Source: aspell-tl
Section: text
Priority: optional
Maintainer: Jan Alonzo <jmalonzo@unpluggable.com>
Build-Depends: debhelper (>= 4.1.0), cdbs
Build-Depends-Indep: dictionaries-common-dev (>= 0.70)
Standards-Version: 3.7.2

Package: aspell-tl
Architecture: all
Depends: aspell (>= 0.60.3-3), dictionaries-common (>= 0.9.1)
Provides: aspell-dictionary
Description: The Tagalog dictionary for GNU Aspell
 This package contains all the required files to add support 
 for the Tagalog language to the GNU Aspell spell checker.
 .
  Homepage: http://code.google.com/p/tagalog-wordlist/
